<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marquedo.marquedo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marquedo">
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.Splash">
<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->
        </activity>
        <activity
            android:name=".stuti_new_product"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".varient_card"
            android:exported="true" />
        <activity
            android:name=".Only_Product_Name"
            android:exported="true" />
        <activity
            android:name=".new_product"
            android:exported="true" />
        <activity
            android:name=".add_product"
            android:exported="true" />
        <activity
            android:name=".progress"
            android:exported="true"
            android:label="@string/title_activity_progress" />
        <activity
            android:name=".congrats"
            android:exported="true" />
        <activity
            android:name=".Business_Category"
            android:exported="true" />
        <activity
            android:name=".Business_Detail"
            android:exported="true" />
        <activity
            android:name=".otp"
            android:exported="true" />
        <activity
            android:name=".Mobile_Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>